@import "./app/styles/tokens.css";
@import "./app/styles/reset.css";
@import "./app/styles/global.css";
@import "./app/styles/layout.css";
@import "./app/styles/shared.css";
@import "./app/styles/seo-static.css";

img {
    -webkit-user-drag: none;
    user-drag: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}